*.o
*.swp
*build/
*CMakeFiles/
CMakeCache.txt

daemons/maap/linux/maap_daemon
examples/jackd-listener/jack_listener
examples/jackd-talker/jackd_talker
examples/live_stream/listener
examples/live_stream/talker
examples/mrp_client/mrpValidate
examples/mrp_client/mrpl
examples/mrp_client/mrpq
examples/simple_listener/simple_listener
examples/simple_talker/simple_talker
kmod/igb/.*.cmd
kmod/igb/.tmp_versions/
kmod/igb/Module.symvers
kmod/igb/*.ko
kmod/igb/*.mod.*
kmod/igb/modules.order
lib/igb/*.a

