build/
daemons/gptp/linux/build/obj/*.o
daemons/gptp/linux/build/obj/daemon_cl
daemons/maap/linux/maap_daemon
examples/common/*.o
examples/jackd-listener/jack_listener
examples/jackd-listener/*.o
examples/jackd-talker/*.o
examples/jackd-talker/jackd_talker
examples/live_stream/listener
examples/live_stream/talker
examples/live_stream/*.o
examples/mrp_client/mrpValidate
examples/mrp_client/*.o
examples/mrp_client/mrpl
examples/mrp_client/mrpq
examples/simple_listener/simple_listener
examples/simple_talker/simple_talker
examples/simple_talker/*.o
examples/simple_listener/*.o
kmod/igb/.*.cmd
kmod/igb/.tmp_versions/
kmod/igb/Module.symvers
kmod/igb/*.o
kmod/igb/*.ko
kmod/igb/*.mod.*
kmod/igb/modules.order
lib/igb/*.o
lib/igb/*.a

